@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Georgian:wght@100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.wrapper{
  position: relative;
  margin-top: 0px;
}

/* NƏZRİN */


















































































































































































/* HƏMİD */



































































































/* SƏNAN */
.main-bottom{
  position: absolute;
}


.main-bottom-h{
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  line-height: 101.4%;
}

.main-bottom-blocks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}


.main-bottomblock{
  border-style: none;
  position: relative;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.main-bottomblock img{
  position: absolute;
}


.main-bottomblock h3{
  font-family: "Roboto", serif;
  font-weight: bold;
  line-height: 130%;
  color: black;
  position: absolute;

}

.main-bottomblock p{
  font-family: "Roboto", serif;
  line-height: 130%;

  color: black;
  position: absolute;
  line-height: 130%;

}










/* GÜLNAR */































































































































































/* -------------------------------------------------------------- */
/* -----------------------------ANİMATİONS ---------------------- */
/* -------------------------------------------------------------- */

/* SƏNAN */
.header-title-main{
  transition: color 0.15s;
}

.header-title-main:hover{
  color: #1E4681;
}


.header-title-text{
  transition: text-decoration 0.15s;
}

.header-title-text:hover{
  text-decoration: underline;
}

.bluebox{
  transition: box-shadow 0.15s;
}


.bluebox:hover{
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}


.main-bottom1-hd{
  transition: color 0.15s;
}

.main-bottom1-hd:hover{
  color: #1E4681;
}


.main-bottom1-text1{
  transition: text-decoration 0.15s;
}

.main-bottom1-text1:hover{
  text-decoration: underline;
}

.main-bottom1-text2{
  transition: text-decoration 0.15s;
}

.main-bottom1-text2:hover{
  text-decoration: underline;
}



.format-zanyati-hd{
  transition: color 0.15s;
}

.format-zanyati-hd:hover{
  color: #1E4681;
}

/* NƏZRİN */
































































/* -------------------------------------------------------------- */
/* -----------------------------MEDIA MOBILE---------------------- */
/* -------------------------------------------------------------- */



@media screen and (min-width: 300px) and (max-width: 600px) {
  .wrapper {
    margin-left: 9.33vw;
  }

    /* NƏZRİN */


















































































































































































/* HƏMİD */

































































/* SƏNAN   */
  .main-bottom {
    top: 522.67vw;
  }

  .main-bottom-h {
    font-size: 6.93vw;
    line-height: 101.4%;
    margin-bottom: 16.0vw;
  }

  .main-bottom-blocks {
    gap: 4.0vw;
    left: 16.27vw;
    margin-bottom: 6.4vw;
  }

  .main-bottomblock {
    width: 49.58vw;
    height: 40.76vw;
    border-radius: 3.71vw;
    box-shadow: 0px 0px 3.2vw rgba(0, 0, 0, 0.25);
  }

  .main-bottomblock img {
    width: 49.58vw;
    height: 19.88vw;
  }

  .main-bottomblock h3 {
    font-size: 3.73vw;
    line-height: 130%;
    width: 45.35vw;
    margin: 0.27vw auto;
    top: 21.07vw;
    left: 2.67vw;
  }

  .main-bottomblock p {
    font-size: 3.2vw;
    line-height: 130%;
    width: 45.35vw;
    margin: 1.33vw auto;
    line-height: 130%;
    bottom: 0.8vw;
    left: 2.67vw;
  }















  /* GÜLNAR */


















































































































































































}
/* -------------------------------------------------------------- */
/* -----------------------------MEDIA TABLET--------------------- */
/* -------------------------------------------------------------- */


@media screen and (min-width: 601px) and (max-width: 1024px) {
  .wrapper {
    margin-left: 8.39vw;
    margin-right: 8.39vw;
  }

  /* NƏZRİN */


















































































































































































 /* HƏMİD */

























































































 /* SƏNAN */

  .main-bottom {
    top: 226.6vw;
  }

  .main-bottom-h {
    font-size: 3.84vw;
    line-height: 101.4%;
    margin-bottom: 7.79vw;
  }

  .main-bottom-blocks {
    gap: 2.52vw;
    left: 7.31vw;
    margin-bottom: 2.88vw;
  }

  .main-bottomblock {
    width: 27.71vw;
    height: 22.78vw;
    border-radius: 2.08vw;
    box-shadow: 0px 0px 1.44vw rgba(0, 0, 0, 0.25);
  }


  .main-bottomblock img {
    width: 27.71vw;
    height: 11.11vw;
  }

  .main-bottomblock h3 {
    font-size: 2.04vw;
    line-height: 130%;
    width: 25.35vw;
    margin: 0.24vw auto;
    top: 11.87vw;
    left: 1.2vw;
  }

  .main-bottomblock p {
    font-size: 1.68vw;
    line-height: 130%;
    width: 25.35vw;
    margin: 0.6vw auto;
    line-height: 130%;
    bottom: 0.6vw;
    left: 1.2vw;
  }

  .main-bottom-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    left: 0;
  }




  /* GÜLNAR */


















































































































































































}
/* -------------------------------------------------------------- */
/* ----------------------------MEDIA DESKTOP--------------------- */
/* -------------------------------------------------------------- */



@media screen and (min-width: 1024px) and (max-width: 2100px) {
  body {
    width: 100vw;
  }

    .wrapper {
    width: 100vw;
    margin-left: 5.83vw;
  }

   /* NƏZRİN */













































































































































































    /* HƏMİD */















































































  /* SƏNAN */

  .main-bottom {
    top: 225.42vw;
  }

  .main-bottom-h {
    font-size: 3.82vw;
    line-height: 101.4%;
    margin-bottom: 12.15vw;
  }

  .main-bottom-blocks {
    gap: 2.57vw;
    left: 5.83vw;
    margin-bottom: 3.13vw;
  }

  .main-bottomblock {
    width: 27.71vw;
    height: 22.78vw;
    border-radius: 2.08vw;
    box-shadow: 0px 0px 0.83vw rgba(0, 0, 0, 0.25);
  }

  .main-bottomblock img {
    width: 27.71vw;
    height: 11.11vw;
  }

  .main-bottomblock h3 {
    font-size: 2.08vw;
    line-height: 130%;
    width: 25.35vw;
    margin: 1.53vw auto;
    top: 10.07vw;
    left: 1.39vw;
  }

  .main-bottomblock p {
    font-size: 1.74vw;
    line-height: 130%;
    width: 25.35vw;
    margin: 1.53vw auto;
    line-height: 130%;
    bottom: 0vw;
    left: 1.32vw;
  }

  .main-bottom-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    left: 0;
  }





  /* GÜLNAR */




















































































































































































}
/* -------------------------------------------------------------- */
/* -----------------------------MEDIA EXTRA---------------------- */
/* -------------------------------------------------------------- */


/* SƏNAN */

@media screen and (max-width: 300px){

body{
  display: none;
}


}


@media screen and (min-width: 2100px){

  body{
    display: none;
  }
  
    }